import LoginPage from "./pages/LoginPage";

export default function App() {
  return (
    <div style={{ padding: 16 }}>
      <h1>Sports Complex Management System</h1>
      <LoginPage />
    </div>
  );
}